* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  width: 100vw;

  min-height: calc(100vh - 89px - 48px);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 12px;

  margin-bottom: 24px;

  position: relative;
}

.main header {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.main header button {
  all: unset;
  background-color: #0078d6;
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 3px;
  transition: all .2s linear;
}

.main header button:hover {
  background-color: #014880;
  cursor: pointer;
}

.car-id {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 89px - 48px);
}